[submodule "dotdrop"]
	path = dotdrop
	url = https://github.com/deadc0de6/dotdrop.git
[submodule "dotfiles/zsh/zsh-dircolors-solarized"]
	path = dotfiles/zsh/zsh-dircolors-solarized
	url = https://github.com/joel-porquet/zsh-dircolors-solarized
